# Entorno virtual
.venv/
venv/
env/

# Archivos temporales de Python
__pycache__/
*.pyc

# Ajustes de editor
.vscode/

# Neovim / Vim
*.swp
*.swo
*~
.nvim.lsp.log

# Por si alguien usa windows
Thumbs.db

# Linux
.directory
core
core.*

